@font-face {
    font-family: 'Rational Integer';
    src: url(../assets//fonts/rational-integer.regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: "Rational Integer";
    font-size: 0;
}

canvas {
    max-width: 1280px;
}